body{
  padding-top: 1rem;
}
.facebookBox{
  float: right; 
}
.podcastColumn h2{
 margin: 1em 0 1em 0; 
}
.podcastContainer img{
  float: left;
  width: 4em;
  margin: 0 .5em .5em 0;
}
.podcastContainer{
  clear: both;
  margin-top: 1em;
  border: 1px solid #c7c7c7;
  border-radius: 1em;
  padding: 1em;
}
.clearer{
 clear: both; 
}
audio{
 max-width: 100%; 
}
